/* You can add global styles to this file, and also import other style files */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background: linear-gradient(135deg, #040A22 0%, #1D4ED8 100%);
  color: white;
}